footer {
  height: 5vh;
  background-color: white;
  color: #1b4965;
  font-weight: bold;
  margin-top: 29rem;
  border-top: 1.4px solid #1b4965;

  h1 {
    display: flex;
    justify-content: center;
    color: #1b4965;
    font-size: 0.8rem;
    margin-top: 0.7rem;
  }
}
