.footer {
  height: 6vh;
  background-color: white;
  color: #1b4965;
  font-weight: bold;
  font-size: 0.4rem;
  display: flex;
  padding-left: 15rem;
  padding-right: 34rem;
  padding-top: 0.7rem;
  padding-bottom: 0.2rem;
  flex-direction: row-reverse;
  border-top: 1.4px solid #1b4965;
}
