.footer {
  height: 2vh;
  background-color: white;
  color: #1b4965;
  font-weight: bold;
  margin-top: 1rem;
  border-top: 1.4px solid #1b4965;

  .address {
    display: flex;
    justify-content: center;
    color: #1b4965;
    font-size: 1.2rem;
    margin-top: 1.8rem;
  }

  .div {
    display: flex;
    justify-content: left;
    color: #1b4965;
    font-size: medium;
  }
}
